@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.app {
  text-align: center;
  background: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, rgb(244, 244, 244), rgb(245, 245, 245));
  background-attachment: fixed;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.new-app {
  text-align: center;
  background: fixed;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(45deg, #f2f2f2, #f5f5f5);
  background-attachment: fixed;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: Roboto;
}

.app-body {
  width: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-inline: 10%;
}

.link-buttons {
  width: 58px;
  height: 58px;
  min-width: 0;
  padding: 8px;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 50%;
  background: white;
}
